@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 100vh;

  @apply bg-neutral-900;
}

#application {
  width: 1024px;
}

.router-link-active span:first-child {
  text-decoration: underline;
}